export(aggregate.HourlyConcentrations)
export(as.AggregatedConcentrations.SpatialPointsDataFrame)
export(as.data.frame.FreeFlowLinks)
export(CALINE3)
export(Caline3Model)
export(centerlines.FreeFlowLinks)
export(centerlines)
export(easting)
export(FreeFlowLinks)
export(ggplot.AggregatedConcentrations)
export(ggplot.Caline3Model)
export(ggplot.FreeFlowLinks)
export(ggplot.Meteorology)
export(ISCFile)
export(lines.FreeFlowLinks)
export(links.default)
export(links)
export(LinkType)
export(Meteorology.character)
export(Meteorology.data.frame)
export(meteorology.default)
export(Meteorology.ISCFile)
export(meteorology)
export(Meteorology)
export(Parameters)
export(Pasquill)
export(pollutant.default)
export(pollutant)
export(Pollutant)
export(predict.Caline3Model)
export(read.shp)
export(ReceptorGrid)
export(ReceptorRings)
export(receptors.default)
export(receptors)
export(Receptors)
export(sample.rows)
export(spplot.AggregatedConcentrations)
export(terrain.default)
export(terrain)
export(Terrain)
exportMethods(Rectangle)
exportMethods(resize)
importClassesFrom(sp,SpatialLines)
importClassesFrom(sp,SpatialLinesDataFrame)
importClassesFrom(sp,SpatialPoints)
importClassesFrom(sp,SpatialPointsDataFrame)
importClassesFrom(sp,SpatialPolygons)
importClassesFrom(sp,SpatialPolygonsDataFrame)
importFrom(ggplot2,ggplot)
importFrom(sp,spplot)
importFrom(stats,aggregate)
importFrom(stats,predict)
S3method(aggregate,HourlyConcentrations)
S3method(centerlines,FreeFlowLinks)
S3method(ggplot,AggregatedConcentrations)
S3method(ggplot,Caline3Model)
S3method(ggplot,FreeFlowLinks)
S3method(ggplot,Meteorology)
S3method(lines,FreeFlowLinks)
S3method(links,default)
S3method(Meteorology,character)
S3method(Meteorology,data.frame)
S3method(meteorology,default)
S3method(Meteorology,ISCFile)
S3method(pollutant,default)
S3method(predict,Caline3Model)
S3method(receptors,default)
S3method(Receptors,matrix)
S3method(Receptors,SpatialPoints)
S3method(Receptors,SpatialPointsDataFrame)
S3method(terrain,default)
